# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Environment variables
.env
*.env

# Python virtual environments
venv/
env/
.venv/

# Docker
*.log
*.pid
*.sock
*.db
*.sqlite3

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml

# MyPy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Other
*.swp
.DS_Store
Thumbs.db
